.page {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;

  .video {
    width: 0;
    height: 0;
  }

  .next-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    color: #fff;
    font-size: 28px;
    background-color: rgba(1, 1, 1, 0.8);
    border-radius: 50%;
  }

  .list {
    flex: auto;
    padding-bottom: 10px;
    overflow-y: auto;

    .item {
      position: relative;
      float: left;
      width: 10%;
      overflow: hidden;
      background-color: #000;

      .thumb {
        display: block;
        width: 100%;
      }

      .content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(1, 1, 1, 0.3);

        .title {
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          padding: 10px 20px;
          color: #fff;
          font-weight: bold;
          font-size: 24px;
        }
      }
    }
  }
}
